<a href="https://colab.research.google.com/github/Fitzpatrique/Budget-App/blob/main/Budget.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import necessary libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

#Create a database to store budget values

In [ ]:
budget = [['Name','food','clothing','entertainment'],['Sunday',1200,2315,4399],['Tunde',340,8700,90],['Irene',0,0,0]]

In [ ]:
budget_df = pd.DataFrame(data = budget[1:], columns=budget[0])

In [ ]:
'''
budget_df[budget_df['Name'] == 'Sunday']['food']
'''

"\nbudget_df[budget_df['Name'] == 'Sunday']['food']\n"

In [ ]:
budget_df['Total'] = budget_df['food'] + budget_df['clothing'] + budget_df['entertainment']

In [ ]:
print(budget_df)

     Name  food  clothing  entertainment  Total
0  Sunday  1200        -7           4399   5592
1   Tunde   340      8700             90   9130
2   Irene     0         0              0      0

In [ ]:
name = 'Sunday'

In [ ]:
index = budget_df[budget_df['Name'] == name].index

#Set variable objects to values from the budget database

In [ ]:
food = int(budget_df[budget_df['Name']== name].food)
clothing = int(budget_df[budget_df['Name']== name].clothing)
entertainment = int(budget_df[budget_df['Name']== name].entertainment)
total_budget = food + clothing + entertainment

#Instantiate a budget class to perform operations

In [ ]:
class Budget:
  def __init__(self, food, clothing, entertainment):
    self.food = food
    self.clothing = clothing
    self.entertainment = entertainment

  def depositFood(self, new_food):
    food = self.food + new_food
    return food

  def depositClothing(self, new_clothing):
    clothing = self.clothing + new_clothing
    return clothing

  def depositEntertainment(self, new_entertainment):
    entertainment = self.entertainment + new_entertainment
    return entertainment

  def withdrawFood(self, new_food):
    food = self.food - new_food
    return food

  def withdrawClothing(self, new_clothing):
    clothing = self.clothing - new_clothing
    return clothing

  def withdrawEntertainment(self, new_entertainment):
    entertainment = self.entertainment - new_entertainment
    return entertainment

  def foodClothingTransfer(self,food_amount):
    clothing = self.clothing + food_amount
    food = self.food - food_amount
    return clothing, food

  def entertainmentClothingTransfer(self,entertainment_amount):
    clothing = self.clothing + entertainment_amount
    entertainment = self.entertainment - entertainment_amount
    return clothing, entertainment

  def foodEntertainmentTransfer(self,food_amount):
    entertainment = self.entertainment + food_amount
    food = self.food - food_amount
    return entertainment, food


  def clothingEntertainmentTransfer(self,clothing_amount):
    entertainment = self.entertainment + clothing_amount
    clothing = self.clothing - clothing_amount
    return entertainment, clothing

  def clothingFoodTransfer(self,clothing_amount):
    food = self.food + clothing_amount
    clothing = self.clothing - clothing_amount
    return food, clothing

  def EntertainmentFoodTransfer(self,entertainment_amount):
    food = self.food + entertainment_amount
    entertainment = self.entertainment - entertainment_amount
    return  food, entertainment

In [ ]:
'''
food = Budget(food,clothing,entertainment).depositFood(new_food=5999)
'''

'\nfood = Budget(food,clothing,entertainment).depositFood(new_food=5999)\n'

In [ ]:
'''
clothing, food = Budget(food,clothing,entertainment).foodClothingTransfer(5990)
print('Food: ', food, 'Clothing: ', clothing)
'''

"\nclothing, food = Budget(food,clothing,entertainment).foodClothingTransfer(5990)\nprint('Food: ', food, 'Clothing: ', clothing)\n"

In [ ]:
'''print('Food: ', food, ', Clothing: ', clothing , ', Entertainment: ', entertainment)'''

"print('Food: ', food, ', Clothing: ', clothing , ', Entertainment: ', entertainment)"

In [ ]:
'''
total_budget = food + clothing + entertainment
print(total_budget)
'''

'\ntotal_budget = food + clothing + entertainment\nprint(total_budget)\n'

#Create a function to call class methods for the budget app

In [ ]:
def Run():
  global food
  global clothing
  global entertainment
  global total_budget

  while True:
    print('1. Transfer')
    print('2. Withdraw')
    print('3. Deposit')
    print('4. Check Balance')
    print('0. Exit')
    
    answer = int(input('Enter Number Choice: '))

    if answer == 0:
      break
    elif answer == 1:
      while True:
        print('1. Transfer from Food Category to Clothing Category')
        print('2. Transfer from Entertainment Category to Clothing Category')
        print('3. Transfer from Food Category to Entertainment Category')
        print('4. Transfer from Clothing Category to Entertainment Category')
        print('5. Transfer from Clothing Category to Food Category')
        print('6. Transfer from Entertainment Category to Food Category')
        print('0. Exit')

        new_answer = int(input('Enter Number Choice: '))
        amount = int(input('Enter Transfer Amount: '))

        if new_answer == 0:
          break
        elif new_answer == 1:
          clothing, food = Budget(food,clothing,entertainment).foodClothingTransfer(amount)
          
          break
        elif new_answer == 2:
          clothing, entertainment = Budget(food,clothing,entertainment).entertainmentClothingTransfer(amount)
          
          break
        elif new_answer == 3:
          entertainment, food = Budget(food,clothing,entertainment).foodEntertainmentTransfer(amount)
         
          break
        elif new_answer == 4:
          entertainment, clothing = Budget(food,clothing,entertainment).clothingEntertainmentTransfer(amount)
          
          break
        elif new_answer == 5:
          food, clothing = Budget(food,clothing,entertainment).clothingFoodTransfer(amount)
         
          break
        elif new_answer == 6:
          food, entertainment = Budget(food,clothing,entertainment).entertainmentFoodTransfer(amount)
          
          break
        else:
          print('Try Again Later')
          break

    elif answer == 2:
      while True:
        print('1. Withdraw from Food Category')
        print('2. Withdraw from Clothing Category')
        print('3. Withdraw from Entertainment Category')
        print('0. Exit')

        second_answer = int(input('Enter Number Choice: '))
        second_amount = int(input('Enter Withdrawal Amount: '))

        if second_answer == 0:
          break
        elif second_answer == 1:
          food = Budget(food,clothing,entertainment).withdrawFood(second_amount)
          
          break
        elif second_answer == 2:
          clothing = Budget(food,clothing,entertainment).withdrawClothing(second_amount)
          
          break
        elif second_answer == 3:
          entertainment = Budget(food,clothing,entertainment).withdrawEntertainment(second_amount)
    
          break
        else:
          print('Try Again Later')
          break

    elif answer == 3:
      while True:
        print('1. Deposit to Food Category')
        print('2. Deposit to Clothing Category')
        print('3. Deposit to Entertainment Category')
        print('0. Exit')

        third_answer = int(input('Enter Number Choice: '))
        third_amount = int(input('Enter Withdrawal Amount: '))

        if third_answer == 0:
          break
        elif third_answer == 1:
          food = Budget(food,clothing,entertainment).depositFood(third_amount)
       
          break
        elif third_answer == 2:
          clothing = Budget(food,clothing,entertainment).depositClothing(third_amount)
        
          break
        elif third_answer == 3:
          entertainment = Budget(food,clothing,entertainment).depositEntertainment(third_amount)
          
          break
        else:
          print('Try Again Later')
          break

    elif answer == 4:
      total_budget = food + clothing + entertainment
      print('Name: ', name, ', Food: ', food, ', Clothing: ', clothing , ', Entertainment: ', entertainment, 'Total Balance: ', total_budget)
      break

    else:
      print('Try Again Later')
      break

#Test the budget app by calling the function

In [ ]:
Run()

1. Transfer
2. Withdraw
3. Deposit
4. Check Balance
0. Exit
Enter Number Choice: 2
1. Withdraw from Food Category
2. Withdraw from Clothing Category
3. Withdraw from Entertainment Category
0. Exit
Enter Number Choice: 2
Enter Withdrawal Amount: 8000
1. Transfer
2. Withdraw
3. Deposit
4. Check Balance
0. Exit
Enter Number Choice: 4
Name:  Sunday , Food:  1200 , Clothing:  -7 , Entertainment:  4399 Total Balance:  5592

#Update the budget database by setting the values of the database to the current values of the variable objects

In [ ]:
budget_df.loc[index, 'food'] = food
budget_df.loc[index, 'clothing'] = clothing
budget_df.loc[index, 'entertainment'] = entertainment
budget_df['Total'] = budget_df['food'] + budget_df['clothing'] + budget_df['entertainment']

#View the updated budget database

In [ ]:
print(budget_df)

     Name  food  clothing  entertainment  Total
0  Sunday  1200        -7           4399   5592
1   Tunde   340      8700             90   9130
2   Irene     0         0              0      0